@import url("https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

html {
    font-family: 'Markazi Text', serif;
    font-size: 14px;
}

body {
    margin: 0;
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;

    img {
        display: none;
        top: 50%;
        left: 50%;
        position: absolute;
        width: auto;
        height: 100%;
        transform: translate(-50%, -50%);
    }
}

.section {
    position: relative;

    // background-color: #000;

    .content {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 40px;
        text-align: center;
    }
}

#root {
    background-color: #eee;
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

#box {
    position: absolute;
}

#box .item {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    box-sizing: border-box;
    position: absolute;
    background-color: #ddd;
    padding: 0.5rem;
    width: 240px;
}

.hl {
    cursor: pointer;
}

/* Tooltip */
.tooltip {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    padding: 7px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 12%, 0.9);
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.35;
    transform: translate(-50%, calc(-100% - 5px));
    z-index: 1000;
    pointer-events: none;
    display: none;
    max-width: 300px;
}

.tooltip:after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 12%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    z-index: 1000;
}
