@import url("https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

html {
    font-family: 'Markazi Text', serif;
    font-size: 16px;
}

body {
    margin: 0;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/* Leyenda */
.leyenda {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 7px 0;
    text-align: right;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.leyenda .label {
    display: inline-block;
    margin-right: 10px;
}

.leyenda .item {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.leyenda .item span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    vertical-align: middle;
    margin-top: -2px;
}

.color1 {
    background-color: #fee08b;
    fill: #fee08b;
}

.color2 {
    background-color: #00b394;
    fill: #00b394;
}

.color3 {
    background-color: #e78ac3;
    fill: #e78ac3;
}

.color4 {
    background-color: #a65628;
    fill: #a65628;
}

.color5 {
    background-color: #8da0cb;
    fill: #8da0cb;
}

.color6 {
    background-color: #fc8d62;
    fill: #fc8d62;
}

.indicacion {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #424242;
}

.numero-pagina {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

/* Main */

#root {
    background-color: #dddddd;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 540px;
    margin: 0 auto;
}

#wrapper {
    position: absolute;
    height: calc(100% - 95px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#box {
    position: relative;
}

#box .item {
    font-size: 16px;
    line-height: 1.05;
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
    padding: 0.5rem;
    width: 330px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#box .item .label {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 3px;
    color: #1a1a1a;
}

#box .item .fragmento {
    font-style: italic;
    margin-bottom: 10px;
    color: #111111;
    overflow: hidden;
}

#box .item .fragmento span {
    background-color: #fee0d2;
}

.hl {
    cursor: pointer;
}

/* Tooltip */
.tooltip {
    position: absolute;
    padding: 7px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    transform: translate(-50%, 10px);
    z-index: 1000;
    pointer-events: none;
    display: none;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.tooltip .triangle {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    z-index: 1000;
}

.tooltip .label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
    color: #1a1a1a;
}

.tooltip .fragmento {
    font-style: italic;
    margin-bottom: 10px;
    color: #424242;
    overflow: hidden;
}

.tooltip .fragmento span {
    background-color: #fee0d2;
}

@media only screen and (max-width: 500px) {
    #root {
        width: 100%;
        max-width: 1000px;
    }

    #wrapper {
        display: none;
    }
}
